<% provide(:title, 'About') %>

<div class="container">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1>About TweetHeart</h1>

    <h4>TweetHeart mines the Twitter API for tweets pertaining to your interests, with Alchemy API doing the sentiment-analysis heavy lifting. The back end code is Ruby on Rails with PostgreSQL database, and the front end is Bootstrap with a modified Bootswatch theme.</h4>
    <br>
  </div>
</div>