<% provide(:title, @user.name) %>

<h2><%= @user.name %>'s Searches</h2>
<ul>
  <% @user.searches.each do |item| %>
    <li>
      <%= link_to search.search_term, search_path(search) %>
      <% if current_user?(@user) %>
         | <%= link_to "edit", edit_search_path(search) %>
      <% end %>
     </li>
  <% end %>
</ul>