<% provide(:title, @user.name) %>

<h2><%= @user.name %>'s Saved Tweet Sentiments</h2>
<ul>
  <% @user.tweet_sentiments.each do |item| %>
    <li>
      <%= link_to @sentiment.search_term, tweet_sentiment_path(@sentiment) %>
      <% if current_user?(@user) %>
         | <%= link_to "delete", delete_tweet_sentiment_path(@sentiment) %>
      <% end %>
     </li>
  <% end %>
</ul>