
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_bootstrap.css
 *= require_self


/*Footer */
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic);

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 30px; /* .push must be the same height as .footer */
}

.footer {
  text-align: center, center;
  width: 90%;
  background-color: #3a3f44;
  opacity: 0.8;
  color: #C2D1E0;
}

.jumbotron-container img { 
  text-align: center;
  padding-left: 15%;
  max-height: 80px; 
  margin-bottom: 10px;
}

.container h1 {
  text-align: center;
}

.blurb h4 {
  text-align: center;
  line-height: 1.5;
}

.blurb h1 {
  text-align: center;
}

.about-search, h4 {
  text-align: center;
  font-size: 28px;
}

.table-bordered {
  border: 3px solid #C2D1E0;
  border-radius: 5px;
}
/*
table.table-sum tr.positive td.col-md-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

table.table-tweets td.col-md-5 p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-color: black;
}

.table > thead > tr > td.positive,
.table > tbody > tr > td.positive,
.table > tfoot > tr > td.positive,
.table > thead > tr > th.positive,
.table > tbody > tr > th.positive,
.table > tfoot > tr > th.positive,
.table > thead > tr.positive > td,
.table > tbody > tr.positive > td,
.table > tfoot > tr.positive > td,
.table > thead > tr.positive > th,
.table > tbody > tr.positive > th,
.table > tfoot > tr.positive > th {
  background-color: #B8E62E;
}

tbody > tr > td > p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgba(241,111,92,0.4);
}

tbody > tr {
  background-color: rgba(241,111,92,0.4);
}

.table-sum {
  background-color: #B8E62E;
}*/
/*.search-analyze {
  position: relative;
  float: right;
  text-align: center;
  height: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.table-tweets {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(241,111,92,0.4);
}*/
.tweet-search {
  text-align: center;
  color: #C2D1E0;
  top: 0;
  left: 0;
  padding-top: 15px;
  margin-bottom: 20px;
}

.tweets p {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

.table {
  background-color: #C2D1E0;
  opacity: 0.3;
}
.save-sentiment-analysis {
  text-align: center;
  top: 0;
  right: 0;
}